body {
    background: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    
    color: #ff0000;
    padding: 20px 0;
}
class header {
    color: #ff0000;
    padding: 20px 0;
    text-align: center;

}
h1, h2 {
    color: #ff0000;
    margin-bottom: 10px; 
}
main {
    margin: 30px auto;
    border-radius: 10px;
    padding: 30px;
    display: grid !important;
    color: #ff0000;
}
.tamashi {
    color: #ff0000;
}
ul {
    margin: 15px 0;
    padding-left: 20px;
}
img {
    display: block;
    max-width:  20%;
    height: auto;
    margin: 10px auto;
    border-radius: 30px;
    float: left;
}
footer {
    color: #ff0000;
    text-align: center;
    padding: 15px 0;
    font-size: 1.1em;
    letter-spacing: 1px;
    margin-top: 40px;
}
.indexi {
    text-align: left;
}