body {  font-family: "Noto Sans Georgian", sans-serif;
  font-family: "Noto Sans Georgian", sans-serif;
  background: linear-gradient(135deg, #d36f6f, #ff0000);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  color: white;
  font-size: 3em;
}   

img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}   